body {
    background-image: url('images/etoiles.jpg');
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.starwars {
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 5px #f7e01a;
    line-height: 90%;
    text-transform: uppercase;
    text-align: center;
    font-size: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    width: 100%;
    margin-bottom: 0px;
}

/* Style de l'intro*/
.intro {
    color: #36bfba;
    font-weight: 100;
    font-size: 70px;
    text-align: justify;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 15%;
    height: 20%;
    width: 80%;
    position: absolute;
}

.star-wars{
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
    perspective: 500px;
}

}
.scroll h1 {
    font-size: 70px;
    font-weight:700;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
    width:50%;
}

.scroll h2 {
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 70px;
    letter-spacing: -2px;;
    transform: scaleY(1.3);
    margin-bottom: 100px;
}


.scroll {
    margin-top: 0px;
    color:  #f7e01a;
    font-weight: 50O;
    font-size: 70px;
    letter-spacing: -2px;
    word-spacing: -5px;
    line-height: 150%;
    text-align: justify;
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateX(45deg);
    animation: scroll 35s linear;
    animation-delay: 6s;
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
}

.animstarwars {
    animation-delay: 5s;
    animation-name: starwars;
    animation-duration: 5s;
    animation-fill-mode: both;
}


/*Animation intro*/

.animintro {
    animation-delay: 0s;
    animation-name: intro;
    animation-duration: 5s;
    animation-fill-mode: both;
    text-align: center;
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 100;
    }
    100% {
        opacity:0;
    }
}

@keyframes starwars {
    0% {
        opacity:0;
    }
    4% {
        opacity:100;
        font-size:300px;
    }
    100% {
        transform: scale(0.01);
        opacity:0%;
    }
}

@keyframes scroll {
    0% {
        top: 0;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -5000px;
        transform: rotateX(25deg) translateZ(-2500px)
    }
}
